@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nexa";
  src: url("/fonts/Nexa-ExtraLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: url("/fonts/Nexa-Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inclusive Sans";
  src: url("/fonts/InclusiveSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inclusive Sans";
  src: url("/fonts/InclusiveSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@layer base {
  html {
    font-family:
      Proxima Nova,
      system-ui,
      sans-serif;
  }
}
